* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  transition: 0.05s;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #011830;
  padding: 50px;

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 5px;

    }
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 5px;

    }
    input:checked + .slider {
      background-color: #2196f3;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    .slider.round {
      border-radius: 34px;
    }
    .slider.round:before {
      border-radius: 50%;
    }
  }

  .Tilte {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    h1 {
      color: white;
    }
    div {
      padding-right: 15px;
      display: flex;
      h4 {
        color: white;
        margin: 5px 20px 0px 0px;
      }
    }
  }
  .MainServer {
    overflow: scroll;
    border: 1px solid #0098df;
    padding: 5px;
    border-radius: 4px;

    table {
      width: 100%;
      tbody {
        .HeaderTable {
          padding: 5px;
          background-color: rgba(102, 123, 146, 0.631);
        }
        tr {
          padding: 0px;
          border-top: 1px solid #0098df;
          width: 100%;
          th {
            white-space: nowrap;
            padding: 10px 10px;
            color: white;
            font-size: 15px;
            font-weight: 300;
            text-align: left;
          }
          td {
            white-space: nowrap;
            padding: 28px 15px;
            text-align: left;
            color: white;
            font-size: 18px;
            font-weight: 300;
            border-bottom: 1px solid #0098df57;
            .code {
              border: 1px solid rgb(175, 175, 175);
              padding: 0px 10px;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1100px) {
  .App {
    align-items: center;
    .ServerList {
      max-width: 1100px;
    }
  }
}
